.logo{
    display: inline-block;
    justify-content: left;
    align-items: left;
    top:0;
    width: 159px;
    height: 67px;
}
.titre{
    position: relative;
    justify-content: center;
    align-items: center;
    color:white;
    display: center;
    margin-left: 30%;
    margin-right: 30%;
}
 body{
    position:absolute;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-left:15px ;
    padding-right: 15px;

    background-size: cover;
} 
main{
    background-color:white;
    margin:90px ;
    
}

.paysage{
    margin-left: 10px;
    margin-top: 10px;
    width: 373px;
    height: 273px;
}
.paysage3{
    float: left;
    width: 480px;
    height: 480px;
}
.book{
    width: 120px;
    height: 157px;
}
.main-menu ul, li {
    display: flex;
    align-items: right;
    justify-content: right;
    position: relative;
    top:0;
}    
nav {
    display:inline-block ;     
    margin-left: 150px;
    margin-right: 0;
}
.main-menu a {
    color:white;
    text-decoration:none;
    padding:0px 10px;
    font-size:20px;
    float:left;
}
.main-menu a:hover {
    color: rgb(16, 107, 120);
    background-color: white;
}
nav li:not(:last-child) {
    border-right: 1px solid black; /* Bordure verticale à droite de chaque élément de liste sauf le dernier */
}


.date{
    font-size:50px;
}

.photos{
    height: 184px;
    width: 187px;
    float: right;
    margin: 10px;
}

article{
    display: flex;
} 

.conteneur{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.armées{
    margin-left: 10px;
    width: 30%;  
}
    

.vignettes img {
    display: flex;
    width: 184px;
}
.clear{
    clear: both;
}

.vignettes span{
    text-decoration:none;
    color: #b32;
    margin: 20px;
    flex-direction:column;
    float: right;
    display: flex; 
}
.vignettes{
  width: 184px;  
}

.vignettes a:hover {
    color: #4c4c4b;
}
